		<header id="site-header" class="header-footer-group" role="banner">
			{% block header %}
				<div class="header-inner section-inner">

				<div class="header-titles-wrapper">

					{% if theme.theme_mod('enable_header_search', true) %}
						<button class="toggle search-toggle mobile-search-toggle" data-toggle-target=".search-modal" data-toggle-body-class="showing-search-modal" data-set-focus=".search-modal .search-field" aria-expanded="false">
							<span class="toggle-inner">
								{# <span class="toggle-icon">
									<?php martstam_the_theme_svg( 'search' ); ?>
								</span>
								<span class="toggle-text"><?php _e( 'Search', 'martstam' ); ?></span> #}
							</span>
						</button><!-- .search-toggle -->
					{% endif %}

					<div class="header-titles">
					{{site.title}}
					</div>

					<button class="toggle nav-toggle mobile-nav-toggle" data-toggle-target=".menu-modal"  data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".close-nav-toggle">
						<span class="toggle-inner">
							{# <span class="toggle-icon">
								<?php martstam_the_theme_svg( 'ellipsis' ); ?>
							</span>
							<span class="toggle-text"><?php _e( 'Menu', 'martstam' ); ?></span> #}
						</span>
					</button><!-- .nav-toggle -->

				<div class="header-navigation-wrapper">
				</div>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'items': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>