{% extends "index.twig" %}

{% block content %}

	<article id="{{post.slug}}">
		<header class="entry-header ">
			<div class="entry-header-inner section-inner medium">
				<h1 class="entry-title  heading-size-1">{{post.title}}</h1>
			</div>
		</header>

		<div class="post-inner" id="post-inner">
			<div class="entry-content">
				{{post.content}}

				{# <div class="preistraeger-grid"> #}
				{% set jahr = 2100 %}
				{% set open = false %}
				{% for post in posts %}


					{% if jahr > post.meta('preistraeger-jahr') %}
						{% if open %} </ul>
					{% endif %}
					{% set open = true %}
					{% set jahr = post.meta('preistraeger-jahr') %}
					<h2 class="heading-size-2">Preisträger/innen
						{{ post.meta('preistraeger-jahr') }}</h2>
					<ul class="wp-block-latest-posts wp-block-latest-posts__list alignwide is-grid columns-2">
					{% endif %}
					
					{% include 'partial/preistraeger-grid-item.twig' %}

				{% endfor %}
				{% if open %} </ul>{% endif %}
			</div>
			<!-- .entry-content -->

		</div>
	</article>
	<!-- .post -->
{% endblock %}
