{% block html_head_container %}
	{% include 'html-header.twig' %}
		{% block head %}
		{% endblock %}
		</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{{function('get_template_part', 'template-parts/header') }}


		<main id="site-content" role="main">
				{% block content %}
					Sorry, no content
				{% endblock %}
		</main>

		{% block footer %}
			{{function('get_template_part', 'template-parts/footer-menus-widgets') }}
			{{function('get_template_part', 'template-parts/footer') }}
		{% endblock %}
	</body>
</html>
