{% extends "base.twig" %}

{% block content %}
	{% for post in posts %}
		<article id="{{post.ID}}" class="{{post.class}}">

		{% block entryheader %}
			{{function('get_template_part',  'template-parts/entry-header')}}
		{% endblock %}
			<div class="post-inner thin">
				<div class="entry-content">
					{{post.content}}
				</div>
			</article>

		{% endfor %}

		{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	{% endblock %}
