{% extends "index.twig" %}

	{% block entryheader %}
		<header class="entry-header  header-footer-group">
			<div class="entry-header-inner section-inner medium">
				<h1 class="entry-title  heading-size-1">{{ post.title }}</h1>
				
				<div class="post-meta-wrapper post-meta-single post-meta-single-top">
					<h2 class="heading-size-2">{{ post.meta('preistraeger-name') }}</h2>
					<p>Mart Stam Preis {{ post.meta('preistraeger-jahr') }}</p>
				</div>
			</div>
		</header>
	{% endblock %}

{% block content %}
	{{parent ()}}
	<aside class="entry-content">
	<h4>Weitere Preisträger/innen</h4>
	<ul class="wp-block-latest-posts wp-block-latest-posts__list is-grid columns-2">
	{% if post.prev %}
		{% include 'partial/preistraeger-grid-item.twig' with { post: post.prev } %}
	{% endif %}
	{% if post.next %}
		{% include 'partial/preistraeger-grid-item.twig' with { post: post.next } %}	
	{% endif %}
	
	</ul>
	</aside>

{% endblock %}
