<li id="{{post.ID}}" class="{{post.class}}">
	<a href="{{post.link}}">
		<img src="{{ post.thumbnail.src }}" srcset="{{ post.thumbnail.srcset }}"/>
		<div class="preistraeger-name">{{ post.title }}
			<br>
			{{ post.meta('preistraeger-name') }}</div>
	</a>
</li>