// BILDUNTERSCHRIFTEN

.blocks-gallery-grid .blocks-gallery-image figure, .blocks-gallery-grid .blocks-gallery-item figure, .wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
    flex-direction: column;
}

.blocks-gallery-grid .blocks-gallery-image figcaption, .blocks-gallery-grid .blocks-gallery-item figcaption, .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {
    position: static;
    color: black;
    background: none;
    margin: 0;
    font-size: 2.1rem;
}

.blocks-gallery-grid.is-cropped .blocks-gallery-image a, .blocks-gallery-grid.is-cropped .blocks-gallery-image img, .blocks-gallery-grid.is-cropped .blocks-gallery-item a, .blocks-gallery-grid.is-cropped .blocks-gallery-item img, .wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: auto;
    flex: 1;
    object-fit: initial;
}


.wp-block-buttons + .wp-block-buttons .wp-block-button {
	margin-top: 0;
}


.wp-block-gallery .blocks-gallery-item:nth-child(2n) figure {
    align-items: flex-start;
}

.wp-block-gallery .blocks-gallery-item:nth-child(2n+1):last-child figure {
    align-items: center;
}
