$contentWidth: 72rem;

@use "meta.scss";
@use "inherited.scss";
@use "futura.scss";
@use "blocks.scss";


.cover-color-overlay, .cover-color-overlay::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    mix-blend-mode: multiply;
}

body, .entry-content {
    font-family: "Futura PT";
} 

// SITE TITLE

.site-title {
    font-size: 3.2rem; 
    letter-spacing: 0;
    line-height: 0.85;
    padding-bottom: 0.1em;
}

.header-navigation-wrapper .spacer, .site-title a {
    width: 3.5em;
    font-size: 3.6rem;
}

.header-inner-secondary .header-navigation-wrapper {
    width: 100%;
}

.site-title a {
    display: block;
    text-decoration: none;
    max-width: 3.5em;
    line-height: 0.69;
    
    &:hover {
        text-decoration: none;
    }
}

ul.primary-menu {
    font-size: 2.1rem;
    //margin: 0;
}

.header-inner {
    align-items: flex-end;
    justify-content: normal;
    padding: inherit 0;
    width: calc(100% - 4rem);
    padding-bottom: 1rem;
}

@media ( min-width: 760px ) {
    .header-inner {
		max-width: $contentWidth;
	}
}

@media ( min-width: 800px ) {
    .header-inner {
        max-width: inherit;
        width: calc(100% - 8rem);
	}
}

.header-titles-wrapper {
    margin: inherit 0;
    margin-right: 0;
    padding: 0;
}

.header-titles-wrapper .header-titles, .header-navigation-wrapper .spacer {
    width: calc(50vw - #{$contentWidth/2} - 4rem - 4px);
    max-width: 20rem;
    min-width: 14rem;
}

// NAVIGATION

.nav-toggle  {

    .toggle-inner {

        display: flex;
        justify-content: center;
        height: auto;
        position: relative;
    
    }

    .toggle-icon, svg {
        height: auto;
        width: 2.3rem;    
    }
}

.primary-menu a {
    line-height: 1;
}

.primary-menu-wrapper .icon {
    display: none;
}
.primary-menu > li.menu-item-has-children > a {
    padding-right: 0rem;
}


// SECONDARY MENU

.secondary-menu-wrapper {

    ul {
        display: flex;
        margin-left: 0;
        list-style: none;
    }

    li {
        margin-left: 0;
        margin-right:2rem;
    }
}

.secondary-menu-wrapper>ul {
    display: none;  
}

.secondary-menu-wrapper>ul.current_page_parent, .secondary-menu-wrapper>ul.current_page_item {
    display: flex;
    
}

.header-inner-secondary {
    padding-top: 0;
}



// Overlay

body:not(.overlay-header) main > article {
    margin-top: 5rem;
}

body.overlay-header .post-inner {
    padding-top: 8rem;
}

// POSTS
.blog, .single-post, .page {
    .post-inner {
        padding-top: 0rem;
    }
}

.blog .post-meta {
    display: none;
}

.single-post {

    .featured-media {
        display: none;
    }

    .post-meta {
    justify-content: initial; 

        .post-author, .post-comment-link {
            display: none;
        }
    }

}

article.post {
    margin-bottom: 10rem;
}

// PREISTRAEGER

h3.entry-name {
    margin: 0;
}

.single-preistraeger .entry-header-inner.section-inner {
   p {
       font-size: 2.1rem;
   }
   .post-meta-wrapper {
       margin-top: 0;
   }

   h2 {
       margin: 1rem auto;
   }
}



.archive-preistraeger, .preistraeger {
    h2 {
        clear: both;
    }
    #preis-button  {
        margin: 0px auto 13rem auto;
    }
    .preistraeger-name {
        font-weight: 500;
        margin: 1rem 0;
        display: block;
        color: black;
    }
}

aside.entry-content {
    margin-top: 20rem;
}


// CONTENT 


.wp-block-column > .wp-block-archives:not(.alignwide):not(.alignfull), .wp-block-column > .wp-block-categories:not(.alignwide):not(.alignfull), .wp-block-column > .wp-block-code, .wp-block-column > .wp-block-columns:not(.alignwide):not(.alignfull), .wp-block-column > .wp-block-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), .wp-block-column > .wp-block-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), .wp-block-column > .wp-block-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), .wp-block-column > .wp-block-group:not(.has-background):not(.alignwide):not(.alignfull), .wp-block-column > .wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), .wp-block-column > .wp-block-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright), .wp-block-column > .wp-block-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright), .wp-block-column > .wp-block-media-text:not(.alignwide):not(.alignfull), .wp-block-column > .wp-block-preformatted, .wp-block-column > .wp-block-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright), .wp-block-column > .wp-block-quote, .wp-block-column > .wp-block-quote.is-large, .wp-block-column > .wp-block-quote.is-style-large, .wp-block-column > .wp-block-verse, .wp-block-column > .wp-block-video:not(.alignwide):not(.alignfull) {

    margin-bottom: 4rem;
    margin-top: 0rem;

}



.wp-block-latest-posts {
    .wp-block-latest-posts__featured-image {
        max-width: 100%;

        img {
            max-width: 100%!important;
        }
    }
}

.featherlight {
    font-family: inherit!important;

    .caption {
        margin: 1rem 0.5rem;
    }
}


.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  padding:15px 10px 9px;
  text-align: left;
}

.wp-block-columns.reverse {
    flex-direction: row-reverse;

    @media (min-width:782px) {
        .wp-block-column:not(:first-child) {
            margin-left: 0px;
            margin-right: 32px;
        }
    }
}


// FOOTER

.footer-nav-widgets-wrapper, #site-footer {
    background: #404040;

    * {
        color: white;
    }
    .footer-menu a, .footer-widgets a {
        color: white;
    }
}

#site-footer {
    background: #111;
    border: none;
}

.footer-widgets-outer-wrapper {
    border: none;
}


.footer-widgets {
    width: 100%;
    column-count: 3;

    .menu>li {
        break-inside: avoid;
    }

    width: 100%; 

    @media (max-width:700px) {
        column-count: 2;
        #menu-nested-pages-3 {
            margin-bottom: 1rem;
        }
    }

    @media (max-width:500px) {
        column-count: 1;
    }

    a {
        text-decoration: none;
    }
}


// h2.widget-title {

// }

// No margin at the top for images!
.entry-content .wp-block-image.size-large {
    margin-top: 0!important;
}


@media (max-width: 800px) {

    .wp-block-latest-posts .alignleft {
        margin: 0 0 2rem;
    }
}

// Newsletter Button:
.newsletter-button {
    color: white;
    margin-top: 1.5em;

    a.wp-block-button__link {
        padding: calc(0.7em - 0.2rem) calc(0.4em - 0.2rem);
    }
}


