
 @font-face {
    font-family: 'Futura PT';
    src: url('./assets/fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('./assets/fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('./assets/fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('./assets/fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
